{% extends "base.html" %}
{% block masthead %}
<header class="masthead bg-info text-white text-center" style="max-height: 400px;padding:120px">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" style="width:100px; height:100px;" src="/static/img/globe.png" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Plateforme Digidata</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
	<section class="page-section">
	  <div class="container">

	  <table class="table" style="width:70%;margin:auto">
		<!-- Add Section Heading-->
		<h2 class=" text-center text-uppercase text-secondary ">{{result['geonameid']}}</h2>
		<br/>

	  {% if modif == True %}
		<div class="alert alert-success" role="alert">
		  L'élément a bien été modifié.
		</div>
		<br/>
	  {% endif %}

      <tr>
        <th>geonameid</th>
        <td>{{result['geonameid']}}</td>
		<td></td>
	  </tr>
      <tr>
        <th>nom</th>
		<td>{{result['name']}}</td>
	  </tr>
      <tr>
        <th>asciiname</th>
		<td>{{result['asciiname']}}</td>
	  </tr>
      <tr>
        <th>alternatenames</th>
		<td>{{result['alternatenames']}}</td>
	  </tr>
      <tr>
		<th>latitude</th>
		<td>{{result['latitude']}}</td>
	  </tr>
      <tr>
		<th>longitude</th>
		<td>{{result['longitude']}}</td>
	  </tr>
      <tr>
		<th>feature_class</th>
		<td>{{result['feature_class']}}</td>
	  </tr>
      <tr>
		<th>feature_code</th>
		<td>{{result['feature_code']}}</td>
	  </tr>
      <tr>
		<th>country_code</th>
		<td>{{result['country_code']}}</td>
	  </tr>
      <tr>
        <th>cc2</th>
		<td>{{result['cc2']}}</td>
	  </tr>
      <tr>
		<th>admin1_code</th>
		<td>{{result['admin1_code']}}</td>
	  </tr>
      <tr>
		<th>admin2_code</th>
		<td>{{result['admin2_code']}}</td>
	  </tr>
      <tr>
		<th>admin3_code</th>
		<td>{{result['admin3_code']}}</td>
	  </tr>
      <tr>
		<th>admin4_code</th>
		<td>{{result['admin4_code']}}</td>
	  </tr>
      <tr>
		<th>population</th>
		<td>{{result['population']}}</td>
	  </tr>
      <tr>
		<th>elevation</th>
		<td>{{result['elevation']}}</td>
	  </tr>
      <tr>
		<th>dem</th>
		<td>{{result['dem']}}</td>
	  </tr>
      <tr>
		<th>timezone</th>
		<td>{{result['timezone']}}</td>
	  </tr>
      <tr>
		<th>modification_date</th>
		<td>{{result['modification_date']}}</td>
      </tr>
	  <tr>

  </table>

	<div align="right">
  	<a href="#Modification" class="js-scroll-trigger"><button class="btn bg-info text-white" id="boutonModify" type="submit" state="off">Modifier</button></a>
	   <button class="btn btn-warning text-white" id="boutonDelete" type="submit">Supprimer</button>
	</div>
  </div>
  <br/>
  <br/>
  <div class="container" id="Modification">
      <!-- Modify Section Heading-->
      <h2 class=" text-center text-uppercase text-secondary ">Modification de {{result['geonameid']}}</h2>
      <br/>

      <!-- Modify Form-->
      <div class="row">
          <div class="col-lg-8 mx-auto bg-info rounded">
              <form id="EditForm" name="EditForm" method="post" onsubmit="return confirm('Confirmer la modification de données?');">
                  <div class="form-row">
                      <div class="form-group col-md-4">
                          <label for="name">nom</label>
                          <input class="form-control" id="name" name="name" type="text" placeholder="{{result['name']}}"/>
                      </div>
                      <div class="form-group col-md-4">
                          <label for="asciiname">asciiname</label>
                          <input class="form-control" id="asciiname" name="asciiname" type="text" placeholder="{{result['asciiname']}}" />

                      </div>
                      <div class="form-group col-md-4">
                          <label for="alternatenames">Autres noms</label>
                          <input class="form-control" id="alternatenames" name="alternatenames" type="text" placeholder="{{result['alternatenames']}}"/>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-4">
                          <label for="latitude">latitude</label>
                          <input class="form-control" id="latitude" name="latitude" type="text" placeholder="{{result['latitude']}}" />
                      </div>
                      <div class="form-group col-md-4">
                          <label for="longitude">longitude</label>
                          <input class="form-control" id="longitude" name="longitude" type="text" placeholder="{{result['longitude']}}" />
                      </div>
                      <div class="form-group col-md-4">
                          <label for="feature_class">classe feature</label>
                          <input class="form-control" id="feature_class" name="feature_class" type="text" placeholder="{{result['feature_class']}}" />
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-4">
                          <label for="feature_code">code feature</label>
                          <input class="form-control" id="feature_code" name="feature_code" type="text" placeholder="{{result['feature_code']}}" />
                      </div>
                      <div class="form-group col-md-4">
                          <label for="country_code">code pays</label>
                          <input class="form-control" id="country_code" name="country_code" type="text" placeholder="{{result['country_code']}}" />
                      </div>
                      <div class="form-group col-md-4">
                          <label for="cc2">cc2</label>
                          <input class="form-control" id="cc2" name="cc2" type="text" placeholder="{{result['cc2']}}" />
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-4">
                          <label for="admin1_code">code admin1</label>
                          <input class="form-control" id="admin1_code" name="admin1_code" type="text" placeholder="{{result['admin1_code']}}" />
                      </div>
                      <div class="form-group col-md-4">
                          <label for="admin2_code">code admin2</label>
                          <input class="form-control" id="admin2_code" name="admin2_code" type="text" placeholder="{{result['admin2_code']}}" />
                      </div>
                      <div class="form-group col-md-4">
                          <label for="admin3_code">code admin3</label>
                          <input class="form-control" id="admin3_code" name="admin3_code" type="text" placeholder="{{result['admin3_code']}}" />
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-4">
                          <label for="admin4_code">code admin4</label>
                          <input class="form-control" id="admin4_code" name="admin4_code" type="text" placeholder="{{result['admin4_code']}}" />
                      </div>
                      <div class="form-group col-md-4">
                          <label for="population">population</label>
                          <input class="form-control" id="population" name="population" type="text" placeholder="{{result['population']}}" />
                      </div>
                      <div class="form-group col-md-4">
                          <label for="elevation">elevation</label>
                          <input class="form-control" id="elevation" name="elevation" type="text" placeholder="{{result['elevation']}}" />
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-4">
                          <label for="dem">dem</label>
                          <input class="form-control" id="dem" name="dem" type="text" placeholder="{{result['dem']}}" />
                      </div>
                      <div class="form-group col-md-4">
                          <label for="timezone">Fuseau horaire</label>
                          <input class="form-control" id="timezone" name="timezone" type="text" placeholder="{{result['timezone']}}" />
                      </div>
                  </div>
                  <br />

                  <div id="success"></div>
                  <div class="form-group"><button class="btn bg-white text-info btn-xl" id="loginButton" type="submit">Modifier</button></div>

              </form>
          </div>
      </div>
  </div>
  </section>


{% endblock %}
