{% extends "base.html" %}
{% block masthead %}
<header class="masthead bg-info text-white text-center" style="max-height: 400px;padding:120px">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" style="width:100px; height:100px;" src="/static/img/globe.png" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Plateforme Digidata</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<section class="page-section">
  <div class="container">
  <table class="table bg-light" style="width:70%;margin:auto">
    <!-- Add Section Heading-->
    <h2 class=" text-center text-uppercase text-secondary">{{result['geonameid']}}</h2>
    <br/>
      <tr>
        <th>geonameid</th>
        <td>{{result['geonameid']}}</td>
	  </tr>
      <tr>
        <th>nom</th>
		<td>{{result['name']}}</td>
	  </tr>
      <tr>
        <th>asciiname</th>
		<td>{{result['asciiname']}}</td>
	  </tr>
      <tr>
        <th>alternatenames</th>
		<td>{{result['alternatenames']}}</td>
	  </tr>
      <tr>
		<th>latitude</th>
		<td>{{result['latitude']}}</td>
	  </tr>
      <tr>
		<th>longitude</th>
		<td>{{result['longitude']}}</td>
	  </tr>
      <tr>
		<th>feature_class</th>
		<td>{{result['feature_class']}}</td>
	  </tr>
      <tr>
		<th>feature_code</th>
		<td>{{result['feature_code']}}</td>
	  </tr>
      <tr>
		<th>country_code</th>
		<td>{{result['country_code']}}</td>
	  </tr>
      <tr>
        <th>cc2</th>
		<td>{{result['cc2']}}</td>
	  </tr>
      <tr>
		<th>admin1_code</th>
		<td>{{result['admin1_code']}}</td>
	  </tr>
      <tr>
		<th>admin2_code</th>
		<td>{{result['admin2_code']}}</td>
	  </tr>
      <tr>
		<th>admin3_code</th>
		<td>{{result['admin3_code']}}</td>
	  </tr>
      <tr>
		<th>admin4_code</th>
		<td>{{result['admin4_code']}}</td>
	  </tr>
      <tr>
		<th>population</th>
		<td>{{result['population']}}</td>
	  </tr>
      <tr>
		<th>elevation</th>
		<td>{{result['elevation']}}</td>
	  </tr>
      <tr>
		<th>dem</th>
		<td>{{result['dem']}}</td>
	  </tr>
      <tr>
		<th>timezone</th>
		<td>{{result['timezone']}}</td>
	  </tr>
      <tr>
		<th>modification_date</th>
		<td>{{result['modification_date']}}</td>
      </tr>

  </table>
  </div>
</section>
  <br/>
  <br/>
{% endblock %}
