{% extends "base.html" %}
{% block masthead %}
<header class="masthead bg-info text-white text-center" style="max-height: 400px;padding:120px">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" style="width:100px; height:100px;" src="static/img/globe.png" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Plateforme Digidata</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Du digital et des data, c'est Digidata !</p>
    </div>
</header>
{% endblock %}
{% block content %}
  <!-- Login Section-->
  <section class="page-section" id="Login">
      <div class="container">
          <!-- Contact Section Heading-->
          <h2 class=" text-center text-uppercase text-secondary ">Login</h2>
          <!-- Login Form-->
          <div class="row">
              <div class="col-lg-8 mx-auto">
                  <form id="loginForm" name="sentMessage" novalidate="novalidate">
                      <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                              <label>Nom</label>
                              <input class="form-control" id="name" type="text" placeholder="Nom" required="required" data-validation-required-message="Entrez votre nom" />
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <div class="control-group">
                          <div class="form-group floating-label-form-group controls mb-0 pb-2">
                              <label>Prénom</label>
                              <input class="form-control" id="firstname" type="text" placeholder="Prénom" required="required" data-validation-required-message="Entrez votre prénom" />
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <br />
                      <div id="success"></div>
                      <div class="form-group"><button class="btn btn-primary btn-xl" id="loginButton" type="submit">Se connecter</button></div>
                  </form>
              </div>
          </div>
      </div>
  </section>
{% endblock %}
